pandas>=2.0.0
openpyxl>=3.1.0
python-dotenv>=1.0.0
pytrends>=4.9.2
requests>=2.32.0
beautifulsoup4>=4.12.3
# valfritt men snabbare/robustare HTML-parser:
lxml>=5.2.0

# Krävs för Playwright- och Selenium-scripts
playwright>=1.44.0
selenium>=4.12.0
webdriver-manager>=4.0.0

# Krävs för YouTube API
google-api-python-client>=2.100.0